@charset "utf-8";
/* menu.css */
		
#clock {            /* <=======================시간 폰트 및 크기 수정 */
	font-size:40px;
	font-family:"배달의민족 도현";
	vertical-align:center;
	color:#f7323f;
}
.navbar navbar-inverse{
	margin:0 auto;
	position:fixed;
	width:1000px;
	text-align:center;
	z-index:2;
}
#topMenuBox{
	margin:0 auto;
	position:fixed;
	width:1000px;
	text-align:center;
	z-index:2;
}

/********** TOP 메뉴 항목 **********/
#topMenuBox{
	height:35px; 
	line-height:35px; 	/* 줄 간격 - 수직으로 가운데 정렬 효과 */
	background-color:#333;	
	float:right; /*오른쪽 정렬 */
}

#topMenuBox a{
	text-decoration:none; /* 태그 밑줄 없앤다. */
	color:white; /* 글자색은 흰색이다. */
	font-size:15px;
	font-weight:bold;
}


