@charset "EUC-KR";
/*====================*/
/* reset.css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*====================*/
section {max-width:960px; margin:30px auto; padding:30px; }
table {
    width: 100%;
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
}
th {
    background: #f4f4f4;
}
.demo02 th {
    width: 13%;
}
.demo02 td {
    text-align: center;
}
.demo02 td:first-child {
    text-align: left;
}

@media only screen and (max-width: 800px) {
.demo02 {
    display: block;
    width: 100%;
    margin: 0 -10px;
}
.demo02 thead {
    display: block;
    float: left;
    overflow-x: scroll;
}
.demo02 tbody {
    display: block;
    width: auto;
    overflow-x: auto;
    white-space: nowrap;
}
.demo02 th {
    display: block;
    width: auto;
}
.demo02 tbody tr {
    display: inline-block;
    margin: 0 -3px;
}
.demo02 td {
    display: block;
}
}